<div class="card border-0 d-none d-xl-block">
    <div class="card-body">
        <h6 class="card-title text-muted fst-italic">Ayuda de teclas para la tabla de datos</h6>
        <p class="card-text text-muted">
            <span class="text-success fw-bold">[<i class="bi bi-arrow-down"></i>]</span>Abajo -
            <span class="text-success fw-bold">[<i class="bi bi-arrow-up"></i>]</span>Arriba -
            <span class="text-success fw-bold">[Enter]</span>Seleccionar -
            <span class="text-success fw-bold">[<span>Esc</span>]</span>Salir
        </p>
    </div>
</div>
