<div class="mt-5 px-2 pt-1 d-flex justify-content-between">
    <div>
        <span class="fs-5" id="bc-titulo"></span> -
        <small class="fst-italic text-muted" id="bc-subTitulo"> Mantenimiento</small>
    </div>
    <div class="d-none d-lg-block">
        <nav style="--bs-breadcrumb-divider: '>'; top:5px" aria-label="breadcrumb" class="position-relative">
            <ol class="breadcrumb mb-2" id="breadcrumb">
            </ol>
        </nav>
    </div>
</div>

