
<div class="clearfix">
    <div class="float-start px-2">
        <span class="fs-5" id="bc-titulo">Artículos</span> - 
        <small class="fst-italic text-muted" id="bc-subTitulo"> Mantenimiento</small>
    </div>
    <div class="float-end px-2 d-none d-lg-block">
        <nav style="--bs-breadcrumb-divider: '>'; top:5px" aria-label="breadcrumb" class="position-relative">
            <ol class="breadcrumb" id="breadcrumb">
            </ol>
        </nav>
    </div>
</div>
