@using AplicacionWeb.SistemaVentas.Servicios.Seguridad
@using Microsoft.AspNetCore.Hosting;
@using Microsoft.AspNetCore.Http;
@using Helper;
@using AplicacionWeb.SistemaVentas.Models.Seguridad;

@inject IWebHostEnvironment enviroment
@inject IHttpContextAccessor  accessor

@{
    UsuarioLogueadoViewModel usuarioActual = new Session(accessor, enviroment).obtenerUsuarioLogueado();
    MenuItem menu = new Menu().obtenerMenuPorUsuario(usuarioActual.idUsuario);

    object modeloSidebarMenu = new
    {
        usuarioActual = usuarioActual,
        menu = menu
    };
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AplicacionWeb.SistemaVentas</title>

    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/icons/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet" />
    <link href="~/css/layout.css" rel="stylesheet" />

</head>
<body>
    <!-- Sidebar  -->
    <nav id="sidebar">
        <div class="sidebar-header px-2 py-3">
            <h5 class="text-truncate d-block">Ferretería san cristobal dfdf er</h5>
        </div>
        <partial name="~/Views/Shared/_SidebarMenu.cshtml" model="@modeloSidebarMenu" />
    </nav>
    <div class="container-fluid" id="content">
        <nav class="navbar navbar-expand-lg py-0 shadow ">
            <div class="container-fluid">
                <button type="button" id="sidebarCollapse" class="btn rounded-circle text-white sidebar-expandir"
                        style="background-color: #367fa9;">
                    <i class="bi bi-menu-button-wide"></i>
                </button>

                <span class="navbar-brand mx-3 text-white d-none d-md-block">Sistema de ventas</span>

                <ul class="navbar-nav flex-row flex-wrap ms-md-auto " id="ul-session">
                    <partial name="~/Views/Shared/_Notification.cshtml" />
                    <partial name="~/Views/Shared/_Logon.cshtml" model="@usuarioActual" />
                </ul>
                <!-- <a class="btn btn-success d-lg-inline-block my-2 my-md-0 ms-md-3" href="#">Download</a> -->
            </div>
        </nav>
        
        <partial name="~/Views/Shared/_Breadcrumb.cshtml" />

        <main role="main" class="px-2 pt-1 ">
            @RenderBody()
        </main>
        <footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2021 - AplicacionWeb.SistemaVentas - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/@@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js"></script>

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <!-- jQuery Custom Scroller CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>

    <script src="~/lib/axios.js"></script>
    <script src="~/js/main.js"></script>
    @*<script src="~/js/site.js" asp-append-version="true"></script>*@
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
