@model AplicacionWeb.SistemaVentas.Models.Seguridad.UsuarioLogueadoViewModel;
@{ 
    string nomUsuario = Helper.ViewHelper.CapitalizeAll(Model.NomUsuario);
}
<li class="nav-item ms-2 dropdown pt-0 pb-1 px-2">
    <a href="#user-info-panel" class="nav-link dropdown-toggle align-baselinem py-1 d-inline-block"
       role="button" aria-expanded="false" title="@nomUsuario"
       data-bs-toggle="collapse" aria-controls="user-info-panel"
        id="user-info" >

        @if (!string.IsNullOrEmpty(Model.AvatarB64))
        {
            <img class="nav-user-photo rounded-circle d-inline-block" 
                 src="data:image/jpg;base64,@Model.AvatarB64" />
        }
        else
        {
            <img class="nav-user-photo rounded-circle d-inline-block" 
                 src="~/Imagenes/avatar_notFound.png" />
        }

        <span class="lh-1 text-white d-none d-sm-inline-block" style="vertical-align:bottom">
            <small class="fw-bold d-block">Bienvenido: </small>
            <span class="text-truncate d-inline-block" style="width: 130px;">
                @nomUsuario
            </span>
        </span>
    </a>

    <div class="collapse position-absolute rounded-0" id="user-info-panel">
        <div class="card" style="background-color: #3C8DBC;">
            <div class="card-body py-2">
                <div class="user-data text-center text-white">
                    @if (!string.IsNullOrEmpty(Model.AvatarB64))
                    {
                        <img class="rounded-circle" src="data:image/jpg;base64,@Model.AvatarB64" style="width: 80px;" />
                    }
                    else
                    {
                        <img class="rounded-circle" src="~/Imagenes/avatar_notFound.png" style="width: 80px;" />
                    }
                    <p class="card-text mb-1 mt-2">Sede: @Helper.ViewHelper.CapitalizeAll(Model.NomSucursal)</p>
                    <h4 class="card-title mb-0">@Helper.ViewHelper.CapitalizeAll(Model.NomRol)</h4>
                    <p class="card-text">@nomUsuario</p>
                </div>

            </div>
            <div class="card-footer bg-white px-2">
                <a class="btn btn-outline-primary d-flex align-items-center float-start lh-1">
                    <span class="me-1">Cambiar<br>contraseña </span>
                    <i class="bi bi-key-fill" style="font-size: 28px; color:orange"></i>
                </a>
                <a href="~/SucursalUsuario/IndexSeleccionSucursal" class="btn btn-outline-primary d-flex align-items-center float-end lh-1">
                    <span class="me-1">Cambiar<br>Sede</span>
                    <i class="bi bi-arrow-repeat" style="font-size: 28px; color: green;"></i>
                </a>
            </div>
            <div class="card-footer bg-light text-end pt-0">
                <a href="#" class="fs-5" id="btnCerrarSesion">
                    Cerrar sesión <i class="bi bi-power success" style="font-size: 32px;color:red; cursor: pointer"></i>
                </a>
            </div>
        </div>
    </div>
</li>