
<li class="nav-item ">
    <a class="nav-link p-2" href="#" target="_blank" rel="noopener">
        <i class="bi bi-chat-left-text-fill text-white"></i>
    </a>
</li>
<li class="nav-item ms-2">
    <a class="nav-link p-2" href="#" target="_blank" rel="noopener">
        <i class="bi bi-bell-fill text-white"></i>
    </a>
</li>
