@using AplicacionWeb.SistemaVentas.Extensiones
@using AplicacionWeb.SistemaVentas.Models.Response

@model object;

@{
    object modelo = (object)Model;

    UsuarioIdentityViewModel usuarioActual = (UsuarioIdentityViewModel)modelo.GetValueProperty("UsuarioActual");
    MenuItemViewModel menu = (MenuItemViewModel)modelo.GetValueProperty("Menu");
}

<ul class="px-0" id="sidebar-menu">
    <li class="ps-2 py-1" style="border-bottom: 2px solid rgba(255, 255, 255, 0.12);">
        @if (!string.IsNullOrEmpty(usuarioActual.AvatarB64))
        {
            <img class="nav-user-photo rounded-circle" src="data:image/jpg;base64,@usuarioActual.AvatarB64" />
        }
        else
        {
            <img class="nav-user-photo rounded-circle" src="~/Imagenes/avatar_notFound.png" />
        }

        <span class="ps-2 my-0 lh-1 d-inline-block align-text-top">
            <small class="fw-bold text-truncate d-block" style="width: 140px;">
                @Helper.ViewHelper.CapitalizeAll(usuarioActual.NomUsuario)
            </small>
            <span style="color: rgba(255, 255, 255, 0.7);"> @Helper.ViewHelper.CapitalizeAll(usuarioActual.NomRol)</span>
        </span>

        <button type="button" class="btn rounded-circle btn-sm align-top sidebar-expandir">
            <i class="bi bi-arrow-left-circle text-white " style="font-size: 22px;"></i>
        </button>
      
    </li>

    @{ 
        foreach (var hijo in menu.Children)
        {
            <partial name="~/Views/Shared/_Menu.cshtml" model="hijo"/>
        }
    }
</ul>
