@using AplicacionWeb.SistemaVentas.Models.ViewModel 
@model List<SucursalModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<div class="container-fluid px-0">
    <div class="row d-flex flex-row justify-content-center align-content-center min-vh-100">
        <div class="col col-sm-8 col-md-6 col-lg-5 ">
            <partial name="~/Views/Partial/_ViewSeleccionSucursal.cshtml" model="Model"/>
        </div>
    </div>
</div>

@section myScript{ 
    <script src="~/js/seleccionSucursal.js"></script>
}